mixin postedOn(item)
  time
    != full_date(item.date, config.date_format)

mixin postTitle(title)
  if title
    != title
  else
    != __('blog.untitled')

// Recent Posts
mixin recent_posts()
  ul.home.post-list
    - page.posts.each(function (item) {
      li.post-list-item
        article.post-block
          h2.post-title
            a.post-title-link(href=url_for(item.path) class="no-barba")
              +postTitle(item.title)
          +postInfo(item)
          .post-content
            != item.excerpt
          a.read-more(href=url_for(item.path))
            != __('blog.read_more')
    - })

// Post Page
mixin post(item)
  .post
    article.post-block
      h1.post-title
        +postTitle(item.title)
      +postInfo(item)
      .post-content
        != item.content

//- Index Page 3 Latest posts (even if not enough)
mixin posts-latest()
  ul.home.post-list
    - let posts = []
    - page.posts.each(post => posts.push(post))
    - if(posts.length < 3)
    -    posts = posts.concat(new Array(3-posts.length).fill('empty'))
    - posts.forEach(post => {
      - if(typeof post != 'object') {
        +postComingSoon()
      - } else {
        li.post
          article.post-block
            h2.post-title
              a.post-title-link(href=url_for(post.path))
                +postTitle(post.title)
            section.posted-on
              +postedOn(post)
                        
            p.post-excerpt
              != post.excerpt
            a.read-more(href=url_for(post.path))
              != __('blog.read_more')
      - }
    - })
