extends partial/layout.pug

block sections
  include partial/section-home.pug
  include partial/section-about.pug
  include partial/section-resume.pug
  include partial/section-services.pug
  include partial/section-skills.pug
  include partial/section-projects.pug
  // include partial/section-blog.pug
  include partial/section-counter.pug
  include partial/section-hireme.pug
  include partial/section-contact.pug
