extends partial/layout.pug

block container
  include partial/section-general.pug
  // include partial/section-blog-posts.pug
  include partial/section-background.pug
  include partial/section-contact-me.pug
  include partial/section-hobbies.pug
