.container
  .row.mb-5
    .col-md
      .ftco-footer-widget.mb-4
        h2.ftco-heading-2 About
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
          li.ftco-animate
            a(href='#')
              span.icon-twitter
          = ' '
          li.ftco-animate
            a(href='#')
              span.icon-facebook
          = ' '
          li.ftco-animate
            a(href='#')
              span.icon-instagram
    .col-md
      .ftco-footer-widget.mb-4.ml-md-4
        h2.ftco-heading-2 Links
        ul.list-unstyled
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Home
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | About
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Services
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Projects
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Contact
    .col-md
      .ftco-footer-widget.mb-4
        h2.ftco-heading-2 Services
        ul.list-unstyled
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Web Design
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Web Development
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Business Strategy
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Data Analysis
          li
            a(href='#')
              span.icon-long-arrow-right.mr-2
              | Graphic Design
    .col-md
      .ftco-footer-widget.mb-4
        h2.ftco-heading-2 Have a Questions?
        .block-23.mb-3
          ul
            li
              span.icon.icon-map-marker
              span.text 203 Fake St. Mountain View, San Francisco, California, USA
            li
              a(href='#')
                span.icon.icon-phone
                span.text +2 392 3929 210
            li
              a(href='#')
                span.icon.icon-envelope
                span.text info@yourdomain.com
  .row
    .col-md-12.text-center
      p
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        != 'Copyright &copy;'
        script= 'document.write(new Date().getFullYear());'
        = ' '
        | All rights reserved | This template is made with 
        = ' '
        i.icon-heart.color-danger(aria-hidden='true')
        = ' '
        | by
        = ' '
        a(href='https://colorlib.com', target='_blank') Colorlib
        // Link back to Colorlib can't be removed.
        // Template is licensed under CC BY 3.0.
