doctype html
html(lang=config.language)
  head
    include head.pug
  body(
    data-spy='scroll',
    data-target='.site-navbar-target',
    data-offset='300'
  )
    block body_top

    include nav.pug

    block content

    include footer.pug
    include scripts.pug
