doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                include nav.pug
            main.container
                block container
        include scripts.pug
