section#skills-section.ftco-section
  .container
    .row.justify-content-center.pb-5
      .col-md-12.heading-section.text-center.ftco-animate
        h1.big.big-2 Skills
        h2.mb-4 My Skills
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
    .row
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 Photoshop
          .progress
            .progress-bar.color-1(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
              span 90%
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 jQuery
          .progress
            .progress-bar.color-2(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='width:85%')
              span 85%
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 HTML5
          .progress
            .progress-bar.color-3(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width:95%')
              span 95%
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 CSS3
          .progress
            .progress-bar.color-4(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
              span 90%
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 WordPress
          .progress
            .progress-bar.color-5(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
              span 70%
      .col-md-6.animate-box
        .progress-wrap.ftco-animate
          h3 SEO
          .progress
            .progress-bar.color-6(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width:80%')
              span 80%
