section#resume-section.ftco-section.ftco-no-pb
  .container
    .row.justify-content-center.pb-5
      .col-md-10.heading-section.text-center.ftco-animate
        h1.big.big-2 Resume
        h2.mb-4 Resume
        p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
    .row
      .col-md-6
        .resume-wrap.ftco-animate
          span.date 2014-2015
          h2 Master Degree of Design
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .resume-wrap.ftco-animate
          span.date 2014-2015
          h2 Bachelor&apos;s Degree of C.A
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .resume-wrap.ftco-animate
          span.date 2014-2015
          h2 Diploma in Computer
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
      .col-md-6
        .resume-wrap.ftco-animate
          span.date 2014-2015
          h2 Art & Creative Director
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .resume-wrap.ftco-animate
          span.date 2014-2015
          h2 Wordpress Developer
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .resume-wrap.ftco-animate
          span.date 2017-2018
          h2 UI/UX Designer
          span.position Cambridge University
          p.mt-4 A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
    .row.justify-content-center.mt-5
      .col-md-6.text-center.ftco-animate
        p
          a.btn.btn-primary.py-4.px-5(href='#') Download CV
