section#blog.ftco-section
  .container
    .row.justify-content-center.mb-5.pb-5
      .col-md-7.heading-section.text-center.ftco-animate
        h1.big.big-2 Blog
        h2.mb-4 Our Blog
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
    .row.d-flex
      .col-md-4.d-flex.ftco-animate
        .blog-entry.justify-content-end
          a.block-20(href='single.html', style='background-image: url("img/image_1.jpg");')
          .text.mt-3.float-right.d-block
            .d-flex.align-items-center.mb-3.meta
              p.mb-0
                span.mr-2 June 21, 2019
                a.mr-2(href='#') Admin
                a.meta-chat(href='#')
                  span.icon-chat
                  | 3
            h3.heading
              a(href='single.html') Why Lead Generation is Key for Business Growth
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.d-flex.ftco-animate
        .blog-entry.justify-content-end
          a.block-20(href='single.html', style='background-image: url("img/image_2.jpg");')
          .text.mt-3.float-right.d-block
            .d-flex.align-items-center.mb-3.meta
              p.mb-0
                span.mr-2 June 21, 2019
                a.mr-2(href='#') Admin
                a.meta-chat(href='#')
                  span.icon-chat
                  | 3
            h3.heading
              a(href='single.html') Why Lead Generation is Key for Business Growth
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.d-flex.ftco-animate
        .blog-entry
          a.block-20(href='single.html', style='background-image: url("img/image_3.jpg");')
          .text.mt-3.float-right.d-block
            .d-flex.align-items-center.mb-3.meta
              p.mb-0
                span.mr-2 June 21, 2019
                a.mr-2(href='#') Admin
                a.meta-chat(href='#')
                  span.icon-chat
                  | 3
            h3.heading
              a(href='single.html') Why Lead Generation is Key for Business Growth
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
