section#projects.ftco-section.ftco-project
  .container
    .row.justify-content-center.pb-5
      .col-md-12.heading-section.text-center.ftco-animate
        h1.big.big-2 Projects
        h2.mb-4 Our Projects
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
    .row
      .col-md-4
        .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-4.jpg);')
          .overlay
          .text.text-center.p-4
            h3
              a(href='#') Branding &amp; Illustration Design
            span Web Design
      .col-md-8
        .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-5.jpg);')
          .overlay
          .text.text-center.p-4
            h3
              a(href='#') Branding & Illustration Design
            span Web Design
      .col-md-8
        .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-1.jpg);')
          .overlay
          .text.text-center.p-4
            h3
              a(href='#') Branding &amp; Illustration Design
            span Web Design
        .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-6.jpg);')
          .overlay
          .text.text-center.p-4
            h3
              a(href='#') Branding &amp; Illustration Design
            span Web Design
      .col-md-4
        .row
          .col-md-12
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-2.jpg);')
              .overlay
              .text.text-center.p-4
                h3
                  a(href='#') Branding &amp; Illustration Design
                span Web Design
          .col-md-12
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style='background-image: url(img/project-3.jpg);')
              .overlay
              .text.text-center.p-4
                h3
                  a(href='#') Branding &amp; Illustration Design
                span Web Design
