section#home-section.hero
  .home-slider.owl-carousel
    .slider-item
      .overlay
      .container
        .row.d-md-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent='true')
          .one-third.js-fullheight.order-md-last.img(style='background-image:url(img/bg_1.png);')
            .overlay
          .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax='properties: { translateY: "70%" }')
            .text
              span.subheading Hello!
              h1.mb-4.mt-3 I&apos;m 
                span Clark Thompson
              h2.mb-4 A Freelance Web Designer
              p
                a.btn.btn-primary.py-3.px-4(href='#') Hire me
                = ' '
                a.btn.btn-white.btn-outline-white.py-3.px-4(href='#') My works
    .slider-item
      .overlay
      .container
        .row.d-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent='true')
          .one-third.js-fullheight.order-md-last.img(style='background-image:url(img/bg_2.png);')
            .overlay
          .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax='properties: { translateY: "70%" }')
            .text
              span.subheading Hello!
              h1.mb-4.mt-3 I&apos;m a 
                span web designer
                | based in London
              p
                a.btn.btn-primary.py-3.px-4(href='#') Hire me
                = ' '
                a.btn.btn-white.btn-outline-white.py-3.px-4(href='#') My works
