section.general
  .wrapper
    section.about-me
      h1 Dmitriy K.
      p= __('section-general-intro')
      section.social-platforms
        h3.list Ig: @ForeverADeveloper, Tw: @ForeverADev, LIn: /in/ForeverDev
        .socials
          a.instagram(href="https://www.instagram.com/foreveradeveloper/")
            img(src="img/socials-general/instagram.svg")
          a.twitter(href="https://twitter.com/ForeverADev")
            img(src="img/socials-general/twitter.svg")
          a.linkedin(href="https://linkedin.com/in/ForeverDev")
            img(src="img/socials-general/linkedin.svg")
        
    section.my-photos
      img(src='img/dmitriy-korotayev.png')
    aside.resume-email
      a.left.resume(href='CV-dmitriy-korotayev.pdf') Resume
      a.right.email(href='mailto:foreveradeveloper@gmail.com') Email me
