section.hobbies
  h1 Things I Love
  section.drumming
    h2 Drumming
    img(src='img/hobbies/djembes.jpg')
  section.chinese-tea
    h2 Chinese Tea
    img(src='img/hobbies/tea.png')
  section.music-dj-and-production
    h2 Electronic music & production
    img(src='img/hobbies/djing.jpg')
  h2 These are just some of the things that make me feel alive!
