section#about-section.ftco-about.img.ftco-section.ftco-no-pb
  .container
    .row.d-flex
      .col-md-6.col-lg-5.d-flex
        .img-about.img.d-flex.align-items-stretch
          .overlay
          .img.d-flex.align-self-stretch.align-items-center(style='background-image:url(img/bg_1.png);')
      .col-md-6.col-lg-7.pl-lg-5.pb-5
        .row.justify-content-start.pb-3
          .col-md-12.heading-section.ftco-animate
            h1.big About
            h2.mb-4 About Me
            p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            ul.about-info.mt-4.px-md-0.px-2
              li.d-flex
                span Name:
                span Clark Thompson
              li.d-flex
                span Date of birth:
                span January 01, 1987
              li.d-flex
                span Address:
                span San Francisco CA 97987 USA
              li.d-flex
                span Zip code:
                span 1000
              li.d-flex
                span Email:
                span clarkthomp@gmail.com
              li.d-flex
                span Phone: 
                span +1-2234-5678-9-0
        .counter-wrap.ftco-animate.d-flex.mt-md-3
          .text
            p.mb-4
              span.number(data-number='120') 0
              span Project complete
            p
              a.btn.btn-primary.py-3.px-3(href='#') Download CV
