section.contact-me
  h6.company Forever Dev Co.
  section.heading
    h1 Looking forward to working with progressive clients!
  section.contacts
    section.email
      h2 Email Address
      a href="mailto:foreveradeveloper@gmail.com" FOREVERADEVELOPER@GMAIL.COM
    section.website
      h2 My Website
      a href="/" FOREVERDEV.XYZ
    section.social-platforms
      h2 My Socials
      .socials
        a.linkedin(href="https://linkedin.com/dmitriy-korotayev")
          img(src="img/socials-contact-me/linkedin.svg")
        a.instagram(href="https://www.instagram.com/foreveradeveloper")
          img(src="img/socials-contact-me/instagram.svg")
        a.twitter(href="https://twitter.com/ForeverADev")
          img(src="img/socials-contact-me/twitter.svg")
