section#hireme.ftco-section.ftco-hireme.img.margin-top(style="background-image: url(img/hireme-background.jpg)")
  .container
    .row.justify-content-center
      .col-md-7.ftco-animate.text-center
        h2
          != __('hireme.im')
          = ' '
          span= __('hireme.available')
          = ' '
          = __('hireme.for')
        p
          = __('hireme.text')
        p.mb-0
          a.btn.btn-primary.py-3.px-5(href=config.email_hire_mailto)= __('hireme.hire_me')
