section.ftco-section.ftco-hireme.img.margin-top(style='background-image: url(img/bg_1.jpg)')
  .container
    .row.justify-content-center
      .col-md-7.ftco-animate.text-center
        h2
          | I'm 
          = ' '
          span Available
          = ' '
          | for freelancing
        p A small river named Duden flows by their place and supplies it with the necessary regelialia.
        p.mb-0
          a.btn.btn-primary.py-3.px-5(href='#') Hire me
