section#section-counter.ftco-section.ftco-no-pt.ftco-no-pb.ftco-counter.img
  .container
    .row.d-md-flex.align-items-center
      .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
        .block-18
          .text
            strong.number(data-number='100') 0
            span Awards
      .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
        .block-18
          .text
            strong.number(data-number='1200') 0
            = ' '
            span Complete Projects
      .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
        .block-18
          .text
            strong.number(data-number='1200') 0
            span Happy Customers
      .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
        .block-18
          .text
            strong.number(data-number='500') 0
            span Cups of coffee
