section.background
  section.left
    h1 A Quick Background
    section.skills
      h2 Skills
      p
        != __('section_background_skills')
    section.contact-linkedin
      a.linkedin(href="https://www.linkedin.com/in/ForeverDev")
        img(src="img/socials-background/linkedin.svg")
  section.right
    section.based-in
      h2 I'm based in
      p
        != __('section_background_based_in')
    section.worked-in
      h2 I worked
      p
        != __('section_background_worked_in')
    section.roles
      h2 My roles were
      p
        != __('section_background_roles')
